.App {
  text-align: center;
  height: inherit;
}

#map {
  width:100%;
  height:400px;
}

.navbar {
  margin-bottom: 1em;
  -webkit-box-shadow: 0px 16px 83px -21px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 16px 83px -21px rgba(0,0,0,0.63);
  box-shadow: 0px 16px 83px -21px rgba(0,0,0,0.63);
  height: 60px;
  vertical-align: middle;
  position: fixed;

  .toggle__button {
    width: 25px;
  }
}

.img__card {
  max-width: 1200px;
}

.content__card {
  text-align: center;
}



/* The sidebar menu */
.sidenav {
  height: 90vh;
  width: 200px;
  position: absolute !important;
  z-index: 1;
  top: 15;
  left: 0;
  background-color: #343a40;
  padding-top: 20px;
  box-shadow: 10px 16px 83px -21px rgba(0,0,0,0.63);
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #f3f3f3;
  display: block;
}


.sidenav a:hover {
  color: #343a40;
  text-decoration: none;
  background-color: #f3f3f3;
}

.home__body {
  margin-top: 3em;
}

.home__body h1 {
  margin-bottom: 1em;
}

.home__body h4 {
  text-transform: uppercase;
  opacity: 1;
}

hr {
  border: 1px dotted black !important;
  border-style:
}

.card__router {
  text-decoration: none;
}

.card__router:hover {
  text-decoration: none;
  transform: scale(1.08);
}

.card__router:hover img {
  opacity: 1 !important;
  filter: grayscale(0) !important;
  transition: 0.5s !important;
}

.card {
  width: 200px;
  margin: 0 auto;
}

.card:hover {
  transition: 0.15s;
}

@media (max-width: 576px) {
  .card {
    margin-top: .5em;
    margin-bottom: 1em;
    text-decoration: none;
  }
}


@media (max-width: 768px) {
  .card {
    margin-top: .5em;
    margin-bottom: 1em;
    text-decoration: none;
  }
}


@media (max-width: 992px) { }


@media (max-width: 1200px) { }
