.App {
  text-align: center;
  height: inherit;
  position: relative;
}

#map {
  width:100%;
  height:400px;
}

.navbar {
  margin-bottom: 1em;
  -webkit-box-shadow: 0px 16px 83px -21px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 16px 83px -21px rgba(0,0,0,0.63);
  box-shadow: 0px 16px 83px -21px rgba(0,0,0,0.63);
  height: 60px;
  vertical-align: middle;
  position: fixed;

  .toggle__button {
    width: 25px;
  }
}


.img__card {
  max-width: 1200px;
}

.content__card {
  text-align: center;
}

section {
  min-height: 30em;
  padding: 3.5em;
  vertical-align: middle;
}

section h1 {
  font-size: 50px;
  margin-bottom: 1em;
  margin: 0 auto;
}

#section-1 .container-fluid {
  padding: 0em 0em, 3em, 0em;
  margin: 0 auto;
}

#section-1 a {
  margin: 1em 1em 1em 1em;
  padding: 1em 1em 1em 1em;
  width: 170px;
}

section h3 {
  margin: 0 auto;
  vertical-align: middle;
}

#section-2 {
  background-color: black;
  color: white;
}

#section-2 h4 {
  text-align: justify;
  justify-content: center;
}




/* The sidebar menu */
.sidenav {
  height: 90vh;
  width: 200px;
  position: absolute !important;
  z-index: 1;
  top: 15;
  left: 0;
  background-color: #343a40;
  padding-top: 20px;
  box-shadow: 10px 16px 83px -21px rgba(0,0,0,0.63);
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #f3f3f3;
  display: block;
}


.sidenav a:hover {
  color: #343a40;
  text-decoration: none;
  background-color: #f3f3f3;
}

/* LOGO IMAGE */
.image__logo {
  width: 100%;
  height: 30vh;
  margin: 0 auto;
  animation: moveFromBottomToTop 1.5s;
}

@keyframes moveFromBottomToTop {
  from {
    transform: translateX(-800px);
  }
  to {
    transform: translateX(0px);
  }
}

.btn {
  cursor: pointer;
}

.home__body {
  margin-top: 3em;
}

.base__home_body {
  margin-top: 3em;
}

.home__body h1 {
  margin-bottom: 1em;
}

.home__body h4 {
  text-transform: uppercase;
  opacity: 1;
}

hr {
  border: 1px dotted black !important;
  border-style:
}

.card__router {
  text-decoration: none;
}

.card__router:hover {
  text-decoration: none;
  transform: scale(1.08);
}

.card__router:hover img {
  opacity: 1 !important;
  filter: grayscale(0) !important;
  transition: 0.5s !important;
}

/* NECESITY CARD */

.card {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 4em;
}

.public__button:hover {
  border-radius: 15px;
  border: .5px solid;
}

.public__card_secondary {
  box-shadow: 0px 0px .8px .4px rgba(255,255,255,0.63);
  transition: 0.2s;
  max-height: 30em;
  border-radius: 30px !important;
  background-color: transparent !important;
}

.public__card_secondary:hover {
  border-radius: 15px;
  box-shadow: 1px 1px 16px 0.5px rgba(255,255,255,0.63);
  border: 0px solid !important;
}

.public__card {
  box-shadow: 0px 0px .8px 0px rgba(0,0,0,0.63);
  transition: 0.2s;
  max-height: 30em;
  border-radius: 30px !important;
}

.public__card:hover {
  box-shadow: 1px 1px 16px 0.5px rgba(0,0,0,0.40);
  border: 0px solid !important;
}

.public__card img {
  filter: opacity(30%) grayscale(30%);
}

.public__card_title {
  text-transform: uppercase;
  max-height: 4em;
  font-size: 20px;
  font-weight: 500;
}

.public__card_text {
  overflow-y: scroll;
  max-height: 8em;
  height: 8em;
  font-style: italic;
  font-weight: lighter;
  vertical-align: middle;
}

.filter_button {
  /* filter: contrast(0.3); */
}

.filter_button:hover {
}

.public__card_text::-webkit-scrollbar {
  width: 6px;
}

.public__card_text::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.public__card_text::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 40px;
}


/* Handle on hover */
.public__card_text::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.necessities__table::-webkit-scrollbar {
  width: 6px;
}

.necessities__table::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.necessities__table::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 40px;
}

.necessities__table::-webkit-scrollbar:hover {
  width: 8px;
  cursor: pointer;
}

.necessities__table::-webkit-scrollbar-thumb:hover {
  background: gray;
}


.card:hover {
  transform: scale(1.1);
}

.edit__icon {
  color: #2999f4;
  margin: 0px 8px 0px 8px;
  font-size: 20px !important;
  opacity: 0.5;
}

.edit__icon:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.2);
}

.times__icon {
  color: #f42929;
  margin: 0px 8px 0px 8px;
  font-size: 20px !important;
  opacity: 0.5;
}

.times__icon:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.2);
}

thead th {
  text-transform: uppercase;
  opacity: 1;
}

tbody th {
  text-align: center;
  text-transform: capitalize;
  font-weight: normal;
}

.table td .table th {
  border-top: 0px;
}

.table__input {
  width: 50% !important;
  margin: 0 auto !important;
}

.necessities__table {
  height: 60vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: visible;
}

.necessities__table table tbody th:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.2);
}

.dropdown-item:hover {
  cursor: pointer;
}

.dropdown-menu.show {
  z-index: 9999;
}

@media (max-width: 576px) {

  section {
    padding-right: 0;
    padding-left: 0;
  }

  #section-1 .container {
    width: 100%;
  }

  /* NECESITY CARD */
    .card {
      margin-top: 2em;
      margin-bottom: 2em;
    }

}

@media (max-width: 576px) {
  .card {
    margin-top: .5em;
    margin-bottom: 1em;
    text-decoration: none;
  }

  table {
    margin-top: 3em;
    width: 100%;
  }
}


@media (max-width: 768px) {

/* NECESITY CARD */
  .card {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

@media (max-width: 992px) {

  /* NECESITY CARD */
  .card {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

@media (max-width: 1200px) { }
