html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  display: block;
  margin:0;
  padding:0;
  height: 100%;
}

#root {
  height: inherit;
}

.notification {
  position: absolute !important;
  margin: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar h2 {
  color: #f3f3f3;
}
